/* wrapper div that holds all of the content divs for the page */
.wrap {text-align:center; width:90%; margin:0 auto; border: 1px solid black; margin-top:25px;}

/* formats the page header */
.header {text-align:left; padding:25px;}
.headerImg { float:left; width:200px;}
.headerText {float:left; height:105px; padding-top:50px;padding-left:25px;}

/* formats main page content */
.main {text-align:center; padding:25px;}

/* formats the page fotter */
.footer {text-align:center; padding:25px;}

body {
	color: black; background-color: #D2B48C;
	font-size: 12pt;
	font-family: arial,verdana,sans-serif;
	text-align: center;
	}

H1 {
   font-family: Times New Roman;
   font-size: 36px;
   text-align:center;
   background: #F08080;
   color: white;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color:#F08080;
    color: #696969;
}

table, th, td {
    border: 1px solid black;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
}

th {
    height: 75px;
    background-color:#FFFF99;
    color: #F08080;
    
}

tr:hover{background-color: #CCCCCC}
tr:nth-child(even) {background-color: #F2F2F2}

.add {
   font-family: Times New Roman;
   font-size: 24px;
   text-align:center;
   background-color:#FFFF99;
   color: #F08080;
   padding: 50px;
   border: 1px solid black;
}

.search {
   font-family: Times New Roman;
   font-size: 24px;
   text-align:center;
   background-color:#FFFF99;
   color: #F08080;
   padding: 50px;
   border: 1px solid black;
}

.update {
   font-family: Times New Roman;
   font-size: 24px;
   text-align:center;
   background-color:#FFFF99;
   color: #F08080;
   padding: 50px;
   border: 1px solid black;
}

input[readonly] {background-color:gray;}

/* Fat Erik's Pipelist*/
/* http://css.maxdesign.com.au/listamatic/horizontal32.htm */

.navcontainer { margin-left: 30px; text-align:left;}

.navlist
{
list-style: none;
padding: 0;
margin: 0;
}

.navlist li
{
display: inline;
padding: 0;
margin: 0;
}

.navlist li:before { content: "| "; }
.navlist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html .navlist li
{
border-left: 1px solid black;
padding: 0 0.4em 0 0.4em;
margin: 0 0.4em 0 -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html .navlist { height: 1%; }

* html .navlist li
{
display: block;
float: left;
}

/*End hide*/
/*Mac IE 5*/
* html .navlist li:first-child { border-left: 0; }